@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrainsMono-Regular.ttf') format("truetype");
}

body {
    font-family: 'JetBrains Mono';
}

/* 
#article-container {
    font-family: 'JetBrains Mono';
}

#article-container .code {
    font-family: 'JetBrains Mono';
}

#article-container {
    font-family: 'JetBrains Mono';
}

#card-toc {
    font-family: 'JetBrains Mono';
}

.post-content {
    font-family: 'JetBrains Mono';
}

*/